* {
    user-select: none;
}
.container:webkit-scrollbar {
    display: none;
}
.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.footer {
    position: absolute;
    bottom: 15px;
    min-width: 1150px;

    left: 50%;
    transform: translateX(-50%);
}
