* {
    user-select: none;
}
.container {
}

.ic {
    display: inline-block;
    width: 41px;
    height: 41px;
    background-image: url('ic.png');
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.footer {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
}
