.alt {
    position: relative;
    width: 228px;
    height: 159px;

    border: 1px solid #f1f1f1;
    box-shadow: 1px 1px 1px #f1f1f1;
    border-radius: 10px;
    padding: 10px;
    font-size: 13px;
}
.alt::after {
    position: absolute;
    content: '*';
    top: 15px;
    width: 15px;
    height: 15px;
    background-color: red;
}
.alt div {
    margin: 5px 0px;
}
input {
    outline: none;
    border: none;
    width: 204px;
    height: 20px;
}
.inp {
    width: 200px;
    height: 15px;
    background-color: #f1f1f1;
    font-size: 5px;
    font-weight: lighter;
    border-radius: 3px;
    padding: 5px;
}
.btn {
    position: absolute;
    bottom: 10px;
    right: 15px;
    width: 50px;
    height: 23px;
    line-height: 23px;
    background-color: #0078f5;
    border-radius: 5px;
    color: #fff;
    font-size: 3px;
}
